body {
    color: rgb(252, 246, 246);
    background: rgb(0, 5, 29);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: rgb(12, 6, 99);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  /* código omitido */

.categoria {
    padding-left: 20px;
    padding-right: 20px;
  }